body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

#post-list {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
	margin-top: 10px;
  height: 300px;
  overflow-y: auto;
}

#messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
	margin-top: 12px;
	
}

#messageForm input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  flex-basis: 200px;
}

#post-author {
  flex-grow: 1;
	
}

#message {
  flex-grow: 2;
	
	
}

button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2E8B57;
}
